/*Main container*/
.friends-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  overflow-y: hidden;
}

.friends-container:hover {
  overflow-y: auto;
}

.friends-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #65686c;
  margin-bottom: 5px;
}

.feed-right-friends {
  display: flex;
  flex-direction: column;
}

.feed-friends-list {
  display: flex;
  flex-direction: column;
}

.feed-friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  text-decoration: none;
  color: inherit;
  border-radius: 15px;
}

.feed-friend-item:hover {
  background-color: #e0e0e0;
}

.friend-profile-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .friends-container {
    overflow-y: auto;
  }

  .friends-container:hover {
    overflow-y: none;
  }

  .feed-friend-item:hover {
    background-color: none;
  }
}
