/*Friends container*/

.friends-page-container {
  display: flex;
  padding: 10px 15px;
  width: 100%;
  height: 95vh;
  gap: 15px;
  overflow-y: auto;
}
.friends-page-container-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*Friends body*/

.friends-page-container-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.all-pending-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd0d5;
  overflow-y: auto;
}

.all-pending-container > * {
  width: calc(10% - 10px);
  max-width: 10%;
}

.pending-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 160px;
}

.request-user-picture {
  height: 160px;
  width: 160px;
}

.friends-page-username-request {
  font-size: 1rem;
  font-weight: bold;
}

.receive-friend-request-accept-btn {
  background-color: #3578e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}

.receive-friend-request-accept-btn:hover {
  background-color: rgb(65, 190, 65);
}

.receive-friend-request-denied-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
}

.receive-friend-request-denied-btn:hover {
  background-color: rgb(151, 3, 3);
}

/* People You May Know */

.friends-people-you-may-know-container {
  margin-top: 20px;
}

.friends-people-you-may-know {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.friends-non-friend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.friends-non-friend-profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.friends-non-friend-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.friends-non-friend-username {
  font-size: 1rem;
  font-weight: bold;
}

.friends-send-friend-request-btn {
  background-color: #3578e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.friends-send-friend-request-btn:hover {
  background-color: rgb(65, 190, 65);
}

.friends-carousel-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.friends-carousel-button.left {
  margin-right: 10px;
}

.friends-carousel-button.right {
  margin-left: 10px;
}

/*Friend-page-right*/
.friends-page-container-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.friends-page-container-right img {
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.friends-phrase {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

/*Mobile View*/

@media (max-width: 480px) {
  .friends-page-container {
    flex-direction: column;
    height: 100%;
  }

  .friends-page-container-left {
    width: 100%;
    height: 50%;
  }

  .friends-page-container-right {
    width: 100%;
    height: 50%;
  }

  .all-pending-container {
    padding: 10px;
  }

  .all-pending-container > * {
    width: calc(20% - 10px);
    max-width: 20%;
  }

  .pending-user {
    width: 100%;
    max-width: 100%;
  }

  .request-user-picture {
    height: 100px;
    width: 100px;
  }

  .friends-page-username-request {
    font-size: 0.9rem;
  }

  .receive-friend-request-accept-btn {
    font-size: 0.8rem;
  }

  .receive-friend-request-denied-btn {
    font-size: 0.8rem;
  }
}
