/* Main container */
.feed-body-center {
  display: flex;
  flex-direction: column;
  padding: 10px 15%;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  overflow-y: auto;
}

/* Input container */
.feed-input-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.feed-input-container textarea {
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  color: #333;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 1rem;
  resize: none;
  width: 100%;
  min-height: 80px;
  line-height: 1.6;
}

.feed-post-btn {
  background-color: #3578e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

.feed-post-btn:hover {
  background-color: #165ec9;
}

/* Posts container */
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-picture-username {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post-username {
  font-weight: bold;
}

.post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  padding: 10px 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post p {
  margin: 5px 0;
}

.post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-date {
  font-size: 0.9rem;
  color: #666;
  margin-top: 5px;
}

/*Input buttons*/
.feed-input-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Emoji*/

.emoji-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feed-open-emoji {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;
}

/* Scrollbar Styles */
.feed-body-center::-webkit-scrollbar {
  width: 8px;
}

.feed-body-center::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
