/*Main container*/
.profile-main-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  overflow-y: auto;
}

/*Profile Header*/
.profile-header {
  padding: 0px 17%;
  width: 100%;
  height: 70vh;
  background: linear-gradient(to bottom, #b0b0b0 30%, #f2f4f7 100%);
}

/*Cover*/
.profile-cover {
  height: 70%;
}

.profile-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 1.5% 1.5%;
}

/*User*/
/*left*/
.profile-user {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 100%;
  padding: 0px 4%;
}

.profile-user-left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.profile-user-profile-picture {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.profile-user-name-friends {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-user-username {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/*Right*/

.profile-user-right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 30px;
}

/* Button styles */
.profile-pic-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3578e5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-pic-btn:hover {
  background-color: #0056b3;
}

.cover-photo-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #d5d5d5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cover-photo-btn:hover {
  background-color: #7a8086;
  color: white;
}

/* Bio edit button */
.bio-edit-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3578e5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.bio-edit-btn:hover {
  background-color: #0056b3;
}

/* Bio textarea */
.bio-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  resize: none;
}

/* Bio save button */
.bio-save-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3578e5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.bio-save-btn:hover {
  background-color: #0056b3;
}

/*Profile body*/

.profile-body {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px 17%;
  gap: 15px;
}

/*Body left*/

.profile-body-left {
  width: 45%;
}

.body-bio {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd0d5;
  gap: 15px;
  margin-bottom: 20px;
}

.body-bio-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.body-bio-description {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.5;
}

.body-photos {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd0d5;
}

/*friends*/

.body-friends {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccd0d5;
  width: 100%;
  gap: 15px;
}

.body-friends-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.friends-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.body-friend-profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.body-friend-profile-picture {
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  height: 170px;
}

.body-friend-profile-username {
  font-size: 1rem;
  font-weight: bold;
}

/*Body right*/

.profile-body-right {
  width: 55%;
}

@media (max-width: 480px) {
  .profile-main-container {
    padding: 0 10px;
  }

  .profile-header {
    padding: 0;
    height: auto;
  }

  .profile-cover {
    height: 150px;
  }

  .profile-user {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .profile-user-left,
  .profile-user-right {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }

  .profile-user-profile-picture {
    height: 100px;
    width: 100px;
  }

  .profile-user-username {
    font-size: 1.5rem;
  }

  .profile-body {
    flex-direction: column;
    padding: 0;
  }

  .profile-body-left,
  .profile-body-right {
    width: 100%;
  }

  .body-friends-title,
  .body-bio-title {
    font-size: 1.5rem;
  }

  .body-friend-profile-picture {
    width: 100px;
    height: 100px;
  }

  .friends-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile-pic-btn {
    padding: 5px 10px;
    margin-top: 10px;
  }
}
