.header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1.8px solid #ccc;
  height: 5vh;
  background-color: white;
}

/* Left */
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 20%;
}

/* Search */
.header-search {
  display: flex;
  align-items: center;
  position: relative;
}

.header-search input {
  padding: 5px 35px 5px 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.header-search input:focus {
  border-color: #3578e5;
}

.header-search .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.header-search input::placeholder {
  color: #aaa;
}

/* Center */
.header-center {
  display: flex;
  gap: 50px;
  width: 60%;
  justify-content: center;
}

/* Right */
.header-right {
  display: flex;
  gap: 20px;
  width: 20%;
  justify-content: flex-end;
}

.header-logout-btn {
  text-decoration: none;
  border: none;
  margin: 0;
  background-color: white;
}

/* Header Icon */
.header-icon-container {
  position: relative;
}

.alpha-icon {
  height: 1.7rem;
  transition: background 0.3s, transform 0.6s ease-in-out;
}

.header-icon {
  font-size: 1.7rem;
  color: #65686c;
  cursor: pointer;
  transition: background 0.3s, transform 0.6s ease-in-out;
}

.header-right .header-icon {
  color: black;
}

.alpha-icon:hover {
  transform: rotate(360deg);
}

.header-icon:hover {
  transform: rotate(360deg);
  color: #3578e5;
}

.user-picture {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  cursor: pointer;
}

/* Tooltip */
.tooltip {
  display: none;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.header-icon-container:hover .tooltip {
  display: block;
  opacity: 1;
}
